*{
    font-family: 'Roboto', sans-serif;
}

$red: #eb4f4e;
$green: #6cc372;
$black: #363636;


h2{
    font-size: 40px;
    color: white;
    padding-top: 45px;
    padding-bottom: 12px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}

.container{
    max-width: 950px;
}

header{
    background-color:#f56262;
    ul{
        padding-top: 15px;
        max-width: 570px;
        justify-content: space-between;
        flex-wrap: wrap;
        display: flex;
        list-style-type: none;
        a{color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            transition: all 0.5s ease-in-out 0.1s;
            &:hover{
                text-decoration: none;
                font-size: 20px;
                color: $black;
            }
        }
    }
}

.huy{
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.home{
    display: inline-block;
    width: 70px;
    height: 30px;
    text-align: center;
    background-color: $black;
    &:hover{
        color: white;
    }
 
}

.s1{
    background-color: $red;
    h3{
        padding-top: 25px;
        text-shadow: 0 1px 1px #c34b2a;
        color: #ffffff;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
}

h1{
    padding-top: 60px;
    text-align: center;
    text-shadow: 0 1px 1px #c34b2a;
    color: #ffffff;
    font-size: 60px;
    line-height: 24px;
}

.govno{
    width: 100%;
    height: auto;
}

.s2{
    background-color: $black;
    h3{
        text-align: center;
        color:$red;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
}

.circle{
    background-color: $red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.multi{
    padding-bottom: 25px;
    h4{
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    p{
        color: $red;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
    }
}

.s3{
    background-color: $green;
    padding-bottom: 40px;
    h3{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
}

.elipse{
    position: relative;
    margin-top: 30px;
    border-radius: 50%;
    background-color: $green;
    height: 164px;
    width: 164px;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.4);
    img{
       margin-top: 8px;
    }
}

.talant{
    margin: 0 auto;
    margin-top: 20px;
    
    text-align: center;
    max-width: 220px;
    border-radius: 4px;
    height: 362px;
    background-color: #ffffff;
    p{
        text-shadow: 0 1px 1px #ffffff, 0 0 35px rgba(243, 255, 251, 0.15);
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        color: $red;
    }
    h4{
        text-shadow: 0 1px 1px #ffffff, 0 0 35px rgba(243, 255, 251, 0.15);
        color: $green;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        padding-top: 22px;
    }
    a{

        display: block;
        margin-left: 5px;
        background-color: $green;
        width: 190px;
        padding-top: 4px;
        height: 43px;
        text-align: left;
        color: #ffffff;
        font-size: 25px;
        font-weight: bold;
        transition: all 0.5s ease-in-out 0s;
        img{margin-right: 20px;
            margin-left: 10px;
        }
        &:hover{
            text-decoration: none;
            background-color:$red;
            color: $green;
        }
    }
}

.moon{
    position: absolute;
    top: 0;
    left: 10px;
}

.s4{
    background-color: #f0f0f0;
    padding-bottom: 40px;
    img{margin-bottom: 15px;}
    h2{color: #616161;}
    h3{
        text-align: center;
        color: $green;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 33px;

    }
}

.box-wrapper{
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    max-width: 310px;
    height: 355px;
    background-color: white;
    h2{padding-top: 15px;}
    h4{
        color: $red;
        font-size: 20px;
        font-weight: 400;
       
    }
    p{    
        display: inline-block;
        color: #616161;
        font-size: 18px;
        line-height: 50px;}

}

.price{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 320px;
    height: 94px;
    color: white;
    background-color: #616161;
}
.bax{
    font-size: 28px;
    font-weight: 400;
}


.price-date{
    font-size: 58px;
    font-weight: 700;
}

.price-time{
    font-size: 22px;
    font-weight: 400;
}

.order{
    margin-top: 30px;
    width: 80px;
    height: 33px;
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.03);
    color: #616161;
    font-size: 21px;
    font-weight: bold;
    border-radius: 3px;
    transition: all 0.5s ease-in-out 0.1s;
    &:hover{
        background-color: $green;
        color: $black;
        font-size: 23px;
    }
}


.price-red{background-color: $red;}

.big-box{
    h2{color: $red;}
    h4{color: $black;}
    min-height: 390px;
    margin-top: 65px;
}

.more-plans{
    padding-top: 30px;
    text-align: center;
    color: $red;
    span{
        cursor: pointer;
        transition: all 0.4s ease-in-out 0.1s;
        &:hover{
            color: $black;
            text-decoration: underline;
        }
    }
}

.foosbal span{
font-size: 21px;
font-weight: bold;
line-height: 56.37px;
}

.s5{
    text-align: center;
    background-color: $red;
    img{margin-top: 25px;
    margin-bottom: 25px;}
    p{
        margin: 0 auto;
        text-align: left;
        max-width: 947px;
        color: #ffffff;
        font-size: 21px;
        font-weight: 400;
        font-style: italic;
        line-height: 36px;}
    span{
        color: #1f1f20;
    }
    h3{
        text-align: center;
        color: $black;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $black;
}

.foot{
    display: flex;
    justify-content: space-between;
}

.end{
    width: 100%;
    height: 299px;
    background-image: url(mape.jpg);
    display: flex;
    align-items: center;

}

.contactUs{
    text-align: center;
    margin: 0 auto;
    width: 617px;
    height: 149px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.03);
    background-color: $black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    color: #eb4f4e;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;

    h3{
        padding-top: 15px;
        font-size: 30px;
        color:white;
    }
}

//media

@media screen and (max-width: 600px ) {
    h1{
        font-size: 40px;
        line-height: 50px;
    }

    h2{
        font-size: 33px;
    }
}

@media screen and (max-width: 450px) {
    ul{
       width: 100%;
       li{width: 50%;}
    }
}